.color-table 
{
border-collapse: collapse;
width: 80%;
margin: 20px 0;
text-align: left;
}

.color-table th, .color-table td 
{
border: none;
padding: 10px;
}

.color-table th:nth-child(1), .color-table td:nth-child(1) 
{
background-color: #003399; color: white;
}
.color-table th:nth-child(2), .color-table td:nth-child(2) 
{
background-color: #3366cc; color: white;
}
.color-table th:nth-child(3), .color-table td:nth-child(3) 
{
background-color: #6699ff; color: white;
}
.color-table th:nth-child(4), .color-table td:nth-child(4) 
{
background-color: #99ccff; color: black;
}
.color-table th:nth-child(5), .color-table td:nth-child(5) 
{
background-color: #cce5ff; color: black;
}
